In [2]:
import os
import pandas as pd
import sys

In [3]:
sys.path.append('/Users/hassaanulhaq/Downloads/github_repo_project/TS_Forecasting_Project')

In [4]:

import pandas as pd
from Code.Load import Loaded_Data_v2 as ld

# Access the combined_data variable from Loaded_Data.py using ld.combined_data
print(ld.combined_data.head())

            regionid  sizerank         regionname regiontype   region  \
date
2000-01-31    394310       814     Albert Lea, MN        msa  Midwest
2000-01-31    394855       817          Miami, OK        msa    South
2000-01-31    394708       818  Iron Mountain, MI        msa  Midwest
2000-01-31    394725       819          Jesup, GA        msa    South
2000-01-31    394846       820      McPherson, KS        msa  Midwest

           statename  new construction sales count  \
date
2000-01-31        MN                           NaN
2000-01-31        OK                           NaN
2000-01-31        MI                           NaN
2000-01-31        GA                           NaN
2000-01-31        KS                           NaN

            new construction mean sales price ($)  mean days to pending  \
date
2000-01-31                                    NaN                   NaN
2000-01-31                                    NaN                   NaN
2000-01-31                                    NaN                   NaN
2000-01-31                                    NaN                   NaN
2000-01-31                                    NaN                   NaN

            mean price cut ($)  mean price cut (%)  median sales price ($)  \
date
2000-01-31                 NaN                 NaN                     NaN
2000-01-31                 NaN                 NaN                     NaN
2000-01-31                 NaN                 NaN                     NaN
2000-01-31                 NaN                 NaN                     NaN
2000-01-31                 NaN                 NaN                     NaN

            mean sales price ($)  percent sold above list (%)  \
date
2000-01-31                   NaN                          NaN
2000-01-31                   NaN                          NaN
2000-01-31                   NaN                          NaN
2000-01-31                   NaN                          NaN
2000-01-31                   NaN                          NaN

            zillow home value index  zillow observed rent index
date
2000-01-31                      NaN                         NaN
2000-01-31             42618.840963                         NaN
2000-01-31                      NaN                         NaN
2000-01-31             82281.367818                         NaN
2000-01-31                      NaN                         NaN

/Users/hassaanulhaq/Downloads/github_repo_project/TS_Forecasting_Project/Code/Load/Loaded_Data_v2.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_combined['inverse_sizerank'] = 1 / filtered_combined['sizerank']
/Users/hassaanulhaq/Downloads/github_repo_project/TS_Forecasting_Project/Code/Load/Loaded_Data_v2.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_combined['inverse_sizerank'] = 1 / filtered_combined['sizerank']
/Users/hassaanulhaq/Downloads/github_repo_project/TS_Forecasting_Project/Code/Load/Loaded_Data_v2.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_combined['inverse_sizerank'] = 1 / filtered_combined['sizerank']
/Users/hassaanulhaq/Downloads/github_repo_project/TS_Forecasting_Project/Code/Load/Loaded_Data_v2.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_combined['inverse_sizerank'] = 1 / filtered_combined['sizerank']
/Users/hassaanulhaq/Downloads/github_repo_project/TS_Forecasting_Project/Code/Load/Loaded_Data_v2.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_combined['inverse_sizerank'] = 1 / filtered_combined['sizerank']
/Users/hassaanulhaq/Downloads/github_repo_project/TS_Forecasting_Project/Code/Load/Loaded_Data_v2.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_combined['inverse_sizerank'] = 1 / filtered_combined['sizerank']
/Users/hassaanulhaq/Downloads/github_repo_project/TS_Forecasting_Project/Code/Load/Loaded_Data_v2.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_combined['inverse_sizerank'] = 1 / filtered_combined['sizerank']
/Users/hassaanulhaq/Downloads/github_repo_project/TS_Forecasting_Project/Code/Load/Loaded_Data_v2.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_combined['inverse_sizerank'] = 1 / filtered_combined['sizerank']
/Users/hassaanulhaq/Downloads/github_repo_project/TS_Forecasting_Project/Code/Load/Loaded_Data_v2.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_combined['inverse_sizerank'] = 1 / filtered_combined['sizerank']
/Users/hassaanulhaq/Downloads/github_repo_project/TS_Forecasting_Project/Code/Load/Loaded_Data_v2.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_combined['inverse_sizerank'] = 1 / filtered_combined['sizerank']

In [5]:
ld.combined_data.index = pd.to_datetime(ld.combined_data.index)
# Create 'month-year' column from the datetime index
ld.combined_data['month-year'] = ld.combined_data.index.strftime('%m-%y')

# Create 'year' column from the datetime index
ld.combined_data['year'] = ld.combined_data.index.strftime('%Y')

In [6]:
ld.combined_data['city']=ld.combined_data['regionname'].str.split(',', n=1).str[0]

In [7]:
ld.combined_data.head()

,regionid,sizerank,regionname,regiontype,region,statename,new construction sales count,new construction mean sales price ($),mean days to pending,mean price cut ($),mean price cut (%),median sales price ($),mean sales price ($),percent sold above list (%),zillow home value index,zillow observed rent index,month-year,year,city
date,,,,,,,,,,,,,,,,,,,
2000-01-31,394310,814,"Albert Lea, MN",msa,Midwest,MN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01-00,2000,Albert Lea
2000-01-31,394855,817,"Miami, OK",msa,South,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42618.840963,NaN,01-00,2000,Miami
2000-01-31,394708,818,"Iron Mountain, MI",msa,Midwest,MI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01-00,2000,Iron Mountain
2000-01-31,394725,819,"Jesup, GA",msa,South,GA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82281.367818,NaN,01-00,2000,Jesup
2000-01-31,394846,820,"McPherson, KS",msa,Midwest,KS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01-00,2000,McPherson

In [9]:
import movecolumn as mc
ld.combined_data = mc.MoveTo4(ld.combined_data,'city')

In [10]:
ld.combined_data.head()

,regionid,sizerank,regionname,city,regiontype,region,statename,new construction sales count,new construction mean sales price ($),mean days to pending,mean price cut ($),mean price cut (%),median sales price ($),mean sales price ($),percent sold above list (%),zillow home value index,zillow observed rent index,month-year,year
date,,,,,,,,,,,,,,,,,,,
2000-01-31,394310,814,"Albert Lea, MN",Albert Lea,msa,Midwest,MN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01-00,2000
2000-01-31,394855,817,"Miami, OK",Miami,msa,South,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42618.840963,NaN,01-00,2000
2000-01-31,394708,818,"Iron Mountain, MI",Iron Mountain,msa,Midwest,MI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01-00,2000
2000-01-31,394725,819,"Jesup, GA",Jesup,msa,South,GA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82281.367818,NaN,01-00,2000
2000-01-31,394846,820,"McPherson, KS",McPherson,msa,Midwest,KS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01-00,2000

Mean Sales Price

In [11]:
ld.regional_grouped_data

,region,date,w_new construction sales count,w_new construction mean sales price ($),w_mean price cut ($),w_mean days to pending,w_mean price cut (%),w_median sales price ($),w_mean sales price ($),w_percent sold above list (%),w_zillow home value index,w_zillow observed rent index,Population,w_PCPI,MORTGAGE30US,UMCSENT
0,Midwest,2018-03-31,12082.313315,4.064101e+05,10538.410409,52.052799,0.036359,169720.672511,214909.413629,0.193328,177917.042559,1158.106957,68282.287000,50734.507055,4.4675,98.8
1,Midwest,2018-04-30,13163.086629,4.605180e+05,10953.848964,46.659460,0.035415,174924.090647,216956.793549,0.223797,179069.593324,1161.130432,68288.709667,50870.816130,4.5860,98.0
2,Midwest,2018-05-31,14303.497230,4.708800e+05,11251.988743,41.784847,0.034718,180567.276454,221728.396186,0.256569,180050.664394,1161.447113,68295.132333,51007.127406,4.5700,98.2
3,Midwest,2018-06-30,14972.297595,4.494060e+05,11314.173614,39.344523,0.034203,186045.884185,228385.708537,0.277426,180559.091498,1164.915058,68301.555000,51143.440884,4.5275,97.9
4,Midwest,2018-07-31,15543.400245,4.417524e+05,11156.103439,39.189459,0.034224,188284.757964,230886.550933,0.279945,181081.408745,1167.620911,68307.977667,51279.756562,4.5500,96.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,West,2022-08-31,11208.192986,1.339130e+06,39243.904002,26.274381,0.037712,681054.710026,853524.899987,0.475217,722972.461519,2325.079119,78851.038667,73319.024110,6.1120,58.6
228,West,2022-09-30,11360.191915,1.326951e+06,36886.907615,31.836967,0.036386,667081.443379,834104.611750,0.381116,700496.291310,2329.133220,78862.480250,73598.624379,6.9000,59.9
229,West,2022-10-31,11108.923026,1.340645e+06,36423.384805,36.651533,0.035881,659426.795421,825012.638395,0.323425,707996.611497,2331.012486,78873.921833,73878.221654,6.8050,56.7
230,West,2022-11-30,10445.967318,1.257429e+06,36331.386946,40.871661,0.035924,650854.904059,816643.441122,0.293027,702691.058671,2332.224444,78885.363417,74157.815934,6.3640,59.8
231,West,2022-12-31,9466.431988,1.195999e+06,35098.487348,46.514822,0.035679,637649.322604,804236.093762,0.269538,698387.037634,2335.182108,78896.805000,74437.407221,6.2725,64.9

In [12]:
weighted_regional= ld.regional_grouped_data

Just Disaggregate the Data According to Regions and Forecast using ARIMA.
- First use AutoArima to figure out the best model to use 
- use box-jenkins and every other test
- use SARIMA/ARIMA model